.blog-item {
  width: 30%;
  min-width: 400px;
  padding: 20px  60px;
  margin: 30px;
  border: 1px solid #eee;
  box-shadow: 10px 10px 20px #1296db 5px;
  font-size: 20px;
  background-color: rgba(56, 64, 66, 0.5);
  color: #000000;
  .cont {
    display: -webkit-box;
    box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
  }
}
