.blog-item {
  // width: 30%;
  // min-width: 400px;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #eee;
  // box-shadow: 10px 10px 20px #1296db 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  color: #000000;
  display: flex;
  .cont {
    display: -webkit-box;
    box-orient: vertical;
    // line-clamp: 3;
    overflow: hidden;
  }
  .blog-left {
    // padding-right: 20px;
    width: 300px;
    height: 150px;
    overflow: hidden;
  }
  .blog-right {
    padding-left: 20px;
  }
}

/* .blog-left .ant-image {
  width: 300px;
  height: 150px;
} */

.blog-left .ant-image-img {
  min-width: 300px;
  min-height: auto;
  transform: translateY(-20%);
  top: 100px;
  transition: all 1s;
}
img {
  background-size: cover;
}

.blog:hover .ant-image-img {
  transform: scale(2);
}
.blog:hover .blog-item {
  // border: 2px solid #000000;
  box-shadow: 2px 2px 3px #1296db;
}
.blog:hover .blog-left {
  border: 2px solid #1296db;
}

.blog {
  margin-bottom: 1rem;
}

.iconfont {
  margin-right: 5px;
}

.title {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: KaiTi, NSimSun;
  // 字体渐变
  background-image: linear-gradient(
    to bottom right,
    rgb(149, 66, 226),
    rgb(55, 226, 212)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// 作者
.author {
  font-family: KaiTi;
  font-size: 1.1rem;
  font-weight: 700;
}

// 修改
.blog-item {
  display: block;
  width: 100%;

  .ant-divider {
    color: #000000 !important;
  }
  .blog-flex-div {
    display: flex;
    .blog-img {
      width: 300px;
      height: 200px;
      overflow: hidden;
      margin-right: 2rem;
      .ant-image-img {
        width: 300px;
        height: auto;
        transform: translateY(-20%);
        // top: 100px;
        transition: all 1s;
      }
    }

    /* .blog-img {
      width: 100%;
      height: auto;
      .ant-image {
        img {
          width: 100%;
          height: auto;
        }
      }
    } */
  }
}
.blog {
  &:hover {
    .blog-img {
      .ant-image-img {
        transform: scale(2);
      }
    }
  }
}
.blog-divider-style {
  background-color: #000000;
}
.blog-content-show {
  width: 350px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  // font-weight: 700;
  font-size: 1rem;
}
