.auth {
  /*   position: relative;
  width: 18%;
  min-width: 300px;
  top: -300px;
  left: 60%;
  border: 1px solid #eeeeee;
  background-image: linear-gradient(to right top, #eeeeee, #1296db);
  opacity: 0.5; */
  display: flex;
  flex-direction: column;
  .avatar {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      // padding: 10px 60px;
    }
  }
  .msg {
    // text-align: center;
    h2 {
      margin: 20px 70px;
      font-weight: 700;
    }
    h3 {
      margin: 20px 110px;
      font-family: "Times New Roman", Times, serif;
      font-weight: 700;
    }
    &:hover {
      opacity: 1;
    }
  }
}
