.content {
  height: 100%;
  width: 100%;
}
.logo {
  color: white;
  text-align: center;
  line-height: 31px;
  width: 120px;
  height: 31px;
  background: rgba(66, 134, 197, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.header {
  background: #1296db;
  display: flex;
  justify-content: space-between;
  
}

