.blog-content {
  margin: 75px auto 20px;
  display: flex;
  width: 70%;
  align-items: flex-start;
  /*   display: flex;
  align-items: flex-start;
  width: 70%;
  margin: 75px auto 20px; */

  .conten {
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    width: 70%;

    min-width: 600px;
    // flex: 70%;
    margin: 0px auto;
    text-align: center;

    .blogContent {
      display: flex;
      align-items: flex-start;
      width: 70%;
      margin: 20px auto;

      border: 1px solid #eeeeee;
      width: 100%;
      padding: 20px;
      text-align: initial;
      background-color: #ffffff;
    }
    .blogContent div {
      width: 100%;
    }
  }
  .blog-titleList {
    position: sticky;
    top: 75px;
  }
}
// 表单样式
.blog-content table {
  width: 100%;
  // border-collapse: collapse;
  margin: 0 auto;
  // text-align: center;
}
.blog-content table td,
.blog-content table th {
  padding: 8px;
  border: 1px solid #cad9ea;
  color: #666;
  height: 30px;
}
.blog-content table thead th {
  background-color: #cce8eb;
  width: 100px;
}
.blog-content table tr:nth-child(odd) {
  background: #fff;
}
.blog-content table tr:nth-child(even) {
  background: #f5fafa;
}
